pandas
numpy
matplotlib
ipykernel
networkx
requests
python-dateutil
web3
duneanalytics
etherscan-python
python-dotenv
eth-utils
networkx
flask
nbconvert
pysha3
requests
openpyxl
scikit-learn
maturin
cryo_python
ctc
polars
pyarrow